---
layout: default
---
<div class="home">
  {% if site.title %}
    <h1 class="page-heading">{{ site.title }}</h1>
  {% endif %}
  {% if site.description %}
    <p class="site-description">{{ site.description }}</p>
  {% endif %}
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.excerpt %}
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>